<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!!</title>
<link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/tiny-weather-1/512/cloudy-256.png">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body><div class="main_content">
    {{>header}}
    <h1>{{errorMessage}}</h1>
    </div>
     {{>footer}}
</body>
</html>